[Unit]
Description=Fan Control
After=multi-user.target

[Service]
Type=simple
ExecStart=/usr/bin/python3 /home/pi/fan-control.py
Restart=on-abort

[Install]
WantedBy=multi-user.target
